<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="text-center">Systems</div>
            <div id="cp-landscape-system" class="input-group">
                <input type="text" class="form-control input-lg" />
                <span class="input-group-append">
                    <span class="input-group-text colorpicker-input-addon"><i></i></span>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">Nodegroups</div>
            <div id="cp-landscape-nodegroup" class="input-group" title="Using input value">
                <input type="text" class="form-control input-lg" />
                <span class="input-group-append">
                    <span class="input-group-text colorpicker-input-addon"><i></i></span>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">Nodes</div>
            <div id="cp-landscape-node" class="input-group">
                <input type="text" class="form-control input-lg" />
                <span class="input-group-append">
                    <span class="input-group-text colorpicker-input-addon"><i></i></span>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">Applications</div>
            <div id="cp-landscape-application" class="input-group">
                <input type="text" class="form-control input-lg" />
                <span class="input-group-append">
                    <span class="input-group-text colorpicker-input-addon"><i></i></span>
                </span>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-3">
            <div class="text-center">Communications</div>
            <div id="cp-landscape-communication" class="input-group">
                <input type="text" class="form-control input-lg" />
                <span class="input-group-append">
                    <span class="input-group-text colorpicker-input-addon"><i></i></span>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">System Text</div>
            <div id="cp-landscape-text-system" class="input-group">
                <input type="text" class="form-control input-lg" />
                <span class="input-group-append">
                    <span class="input-group-text colorpicker-input-addon"><i></i></span>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">Node Text</div>
            <div id="cp-landscape-text-node" class="input-group">
                <input type="text" class="form-control input-lg" />
                <span class="input-group-append">
                    <span class="input-group-text colorpicker-input-addon"><i></i></span>
                </span>
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-center">Application Text</div>
            <div id="cp-landscape-text-app" class="input-group">
                <input type="text" class="form-control input-lg" />
                <span class="input-group-append">
                    <span class="input-group-text colorpicker-input-addon"><i></i></span>
                </span>
            </div>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12">
            <div id="resetDiv" class="text-center">
                <button id="resetcolors" class="btn btn-primary" {{action "resetColors"}}>
                    Reset colors
                </button>
            </div>
        </div>
    </div>

</div>